body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: lightgray;
  font-weight: normal;
  box-sizing: border-box;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-weight: normal;
}
.container {
  width: 1146px;
  margin: 0 auto;
  outline: 1px solid red;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.logo {
  margin-left: -2px;
  margin-top: 2px;
  float: left;
}
.main-navigation ul li{
  display: inline-block;
  list-style: none;
}

.catalog_list {
  display: none;
}
.main-navigation {
  float: left;
  outline: 1px solid black;
}
.user-block {
  float: right;
  outline: 1px solid black;
}
.contacts {
  float: right;
  border: 1px solid black;
  margin-top: 30px;
}
.slides p {
  font-size: 60px;
  line-height: 62px;
  font-weight: bold;
  width: 700px;
  outline: 2px solid red;
  margin: 0 auto;
  text-align: center;
}

.slides .btn  {
  width: 200px;
  margin: 35px auto;
  outline: 1px solid red;
  text-align: center;
}
.slides .btn a {
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.slides {
  padding-top: 238px;
  width: 748px;
  height: 253px;
  background-color: rgba(185, 5, 33, 0.5);
  margin: auto;
}

.slides:nth-child(2), .slides:nth-child(3) {
  display: none;
  }

.special-issue {
    background-color: rgba(155, 185, 168, 0.5);
}
.special-issue-left {
    float: left;
    width: 560px;
    height: 229px;
    outline: 1px solid yellow;
  }

.special-issue-right {
    float: right;
    width: 560px;
    height: 229px;
    outline: 1px solid yellow;
  }
.shop-items {
  font-size: 0;
}

.shop-items article {
    display: inline-block;
    outline: 1px solid purple;
    width: 267px;
    margin-right: 22px;
}
.shop-items article:last-child {
  margin-right: 0;
}
.price {
  font-size: 40px;
  line-height: 45px;
  font-weight: bold;
}
.index-content {
  font-size: 0;
}

.index-content h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  margin-left: 20px;
}
.index-content ul li  {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 480px;
  outline: 1px solid black;
  margin-left: 35px;
}
.index-content ul li p {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}
.index-content ul li:nth-child(odd) {
  margin-right: 30px;
}
.feedback {
  float: right;
}
.footer-social, .about-us, .footer-copyright {
  display: inline-block;
}

.footer-copyright {
  float: right;
}

.about-us {
  font-size: 0;
  margin-left: 100px;
  outline: 1px solid black;

}
.about-us ul {
  font-size: 13px;
  line-height: 16px;
  width: 170px;
  outline: 1px solid green;
  list-style: none;
  display: inline-block;
  padding: 0;
}
.about-us ul:nth-child(1) {
  width: 120px;
}
.form {
  width: 879px;
  outline: 1px solid black;
  display: inline-block;
}
.sort, .price-range, .fat, .flavour {
  display: inline-block;
  outline: 1px solid purple;
}
.ice-cream-catalog {
  font-size: 0;
}

.item-card {
  display: inline-block;
  outline: 1px solid purple;
  width: 267px;
  margin-right: 22px;
}
.item-card:nth-child(4n) {
  margin-right: 0;
}
.pagination {
  float: right;
}
